body {
    margin: 0;
    font-family: Montserrat;
}

.header {
    justify-content: center;
    display: flex;
}

.menu-header {
    padding-left: 0;
    margin: 13.5px 0;
}

.menu-header-list {
    display: flex;
    column-gap: 72px;
    list-style: none;
    padding-left: 0;
}

.menu-header-link {
    text-decoration: none;
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.main-img {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg_img.jpg);
    background-size: cover;
    background-position: center;
    
}

.text-section {
    text-align: center;
}

.text-section-title {
    margin: 48px 0 38px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.text {
    margin: 28px 67px 28px 67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.button {
    margin-top: 38px;
    padding: 19px 43px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #FF0000;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    font-family: Montserrat;
}

.footer {
    text-align: right;
}

.footer-text {
    margin: 82px 105px 29px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 2.4px;

}